# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Flask specific
instance/
.webassets-cache
*.db
*.sqlite3

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
venv.bak/
env.bak/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# Log files
*.log
